
<!DOCTYPE html>
<html>
	<!-- ---------------------------------------------------------- 
			WEBSITE BY	 www.uralys.com
	 ---------------------------------------------------------- -->
   <head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <title>Diligis - For Business Travelers</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" /> 
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/responsive.min.css")" /> 
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/website.css")" /> 
	   	
		<!-- --------------------------------------------->
		<!-- Analytics |  You can verify site ownership only with the asynchronous snippet placed in the <head> section of your home page. -->

		<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-40736136-2']);
			  _gaq.push(['_setDomainName', 'diligis.com']);
			  _gaq.push(['_setAllowLinker', true]);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
		</script>
    </head>
    
  	<body id="body">
	  	
		<!-- ------------------------------------------------------------- -->
		<!-- Header -->
		
	  	<div id="header" class="snapper" onClick="window.location.href='/'">
			<img id="logo" src="@routes.Assets.at("images/logo.png")"/>
		</div>

		<!-- -------------------------------------------------------------- -->
		<!-- Top -->
		
		<div class="marketing">
	
			<div id="homeImage"></div>
			<img id="playImage" onclick="window.youtubeManager.openVideoWindow()" class="touchable invisible" src="@routes.Assets.at("images/play.png")"></img>
	
			<!-- 
			<div class="row-fluid" id="title">
				<h1 class="homeTitle">#BizTripMeet</h1>
				<p class="homeSubtitle">Prepare to meet new business on the move</p>
			</div>
	 		-->
		</div>
		
		<!-- ------------------------------------------------------------- -->


		<div class="row-fluid">
			<img id="googlePlay" class="touchable" src="@routes.Assets.at("images/google_play_icon.png")" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.diligis'"/>
		</div>

		<div class="row-fluid">
			<img id="appStore" class="touchable" src="@routes.Assets.at("images/app_store_badge.png")"  onclick="window.location.href='https://itunes.apple.com/us/app/diligis/id652174739'"/>
		</div>
		
		<!-- ------------------------------------------------------------- -->
		<!-- Content -->
		
		<div class="row-fluid">
			<img id="iphone" src="@routes.Assets.at("images/iphone.png")"/>
		</div>

		<div class="row-fluid">
			<img id="samsung" src="@routes.Assets.at("images/samsung.png")"/>
		</div>

		<div class="row-fluid">
			<div class="part1">
				<div class="span6 offset3">
					<p id="part1text">Diligis is an app that helps you meet new business connections during your business trips.</p>
				</div>
				<div class="span6 offset5 part1Citation">
					<p>“The best way to predict your future is to create it” ― Abraham Lincoln</p>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="marketing part2">
				<div class="row-fluid">
					<h1 class="part2Title">#ADD YOUR TRIPS</h1>
					<p>Tell the Diligis community when you’ll travel.</p>
					<h1 class="part2Title">#MATCH</h1>
					<p>Receive notifications when other users share similar travel arrangements.</p>
					<h1 class="part2Title">#DECIDE</h1>
					<p>Review their profile and decide whether they’re worth meeting</p>
					<h1 class="part2Title">#MEET</h1>
					<p>Set a time for an airport lounge meeting</p>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="marketing part3">
				<div class="span4 offset4">
					<p class="part3Text">Thanks to Diligis, whilst you take a trip to meet a client or attend an event, you can transform your entire journey into a series of new business opportunities.</p>
					<p class="part3Text">Only Diligis helps you pre-qualify those opportunities and make the right new connections.</p>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="part4">
				<div class="row-fluid">
					<div class="span1 offset1 martketing">
						<h1 class="part2Title ">￼#FAQ</h1>
					</div>
				</div>
				<div class="row-fluid faqPart">
					<div class="span3 offset2">
						<p class="faqQuestion">How does it work?</p>
					</div>
					<div class="span6">
						It’s simple. Sign in with your LinkedIn account. Add the details of your forthcoming trips. Receive notifications when other users have similar arrangements. Review their profile. Contact your selection and arrange to meet at the airport or at your destination.
					</div>
				</div>
				<!-- 
				<div class="row-fluid faqPart">
					<div class="span3 offset2">
						<p class="faqQuestion">Is Diligis free?</p>
					</div>
					<div class="span6">
						Diligis is free of charge.
					</div>
				</div>
				 -->
				<div class="row-fluid faqPart">
					<div class="span3 offset2">
						<p class="faqQuestion">What if I don’t travel that often?</p>
					</div>
					<div class="span6">
						The purpose of Diligis is to help you optimize your time when you are travelling. If you take a trip to meet one customer, whether because meeting them helps retaining their loyalty or winning them over, you’ll spend time in transportation and maybe you’ll stay overnight. This time you spend in a flight or at a destination can be better used if you arrange to meet with other professionals that you know in advance have the right profile. This is true whether your travel a lot or only occasionally.
					</div>
				</div>
				<!-- 
				<div class="row-fluid faqPart">
					<div class="span3 offset2">
						<p class="faqQuestion">What if I only travel to commute to work?</p>
					</div>
					<div class="span6">
						Diligis can work for you too. Think of all of the time you spend in public transport. Other professionals take the same train to work every day and you’ve never met. However, you could do some good business together. The 30 minutes or the hour that you spend in public transport are the perfect opportunity to meet them.
					</div>
				</div>
				 -->
				<div class="row-fluid faqPart">
					<div class="span3 offset2">
						<p class="faqQuestion">How do I find out who best to meet?</p>
					</div>
					<div class="span6">
						As soon as you upload a planned trip, we match your travel arrangements against those of other users. When there’s a match, you get a notification and you can visit the users’ profile. From there, you can decide whether it is worth contacting them.
					</div>
				</div>
				<div class="row-fluid faqPart">
					<div class="span3 offset2">
						<p class="faqQuestion">How do I contact other users?</p>
					</div>
					<div class="span6">
						At Diligis, you can only contact users that share similar arrangements at any one time. This protects them and you from spam. Every notification you receive is an opportunity to contact users that will use the same transportation or will be at the destination or event as you will. Diligis provides you with a mailbox so you can send and receive direct messages.
					</div>
				</div>
				<div class="row-fluid faqPart">
					<div class="span3 offset2">
						<p class="faqQuestion">Can I contact other users?</p>
					</div>
					<div class="span6">
						Diligis is a business development tool for traveling professionals. The point is that you develop business with the right people when traveling.
					</div>
				</div>
				<div class="row-fluid faqPart">
					<div class="span3 offset2">
						<p class="faqQuestion">Can I stay in contact with users I previously messaged or met?</p>
					</div>
					<div class="span6">
						Well, if you met on a trip, chances are you exchanged contact information. Diligis is not a social network. Whilst you find other users online, you actually meet offline.
					</div>
				</div>

			</div>
		</div>
		
		<!-- ------------------------------------------------------------- -->
		<!-- Footer -->
	
		<div id="footerHome" class="snapper">
			<div class="container">
				<div class="row-fluid">
					<div class="span6 offset2 footerContent">
						<div class="footerTitle">More questions? Get in touch:
						<script language='JavaScript'>
							<!--
							var guymal_enc= ":g&ntc`;$kgojri<`gwFbojoaou(eik$8`gwFbojoaou(eik:)g8";
							for(guymal_i=0;guymal_i<guymal_enc.length;++guymal_i)
								document.write(String.fromCharCode(6^guymal_enc.charCodeAt(guymal_i)));
							//-->
							</script> 
						</div>
					</div>
					<div class="span2 offset2 footerContent">
						<div class="link">&copy; 2013 Diligis</div>
					</div>
				</div>
			</div>
		</div>
		

    </body>
</html>
