@(startTime:Long)
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Diligis - create a destination</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/mobile.css")">
</head>

<body id="body" class="mobile">

	<h2>Add a destination</h2>

	<div class="panel panelGeoloc snapper" id="panelGeoloc">
		<div id="geoloc" class="row-fluid">
			<div class="span9">
				<p>
					Location : <input type="text" id="GeoLoc" name="GeotLoc" class="inputGeoloc"/>
				</p>
			</div>
			<div class="span2 offset1">
				<div id="GeoLocGo" class="btn-small btn-primary">
					<i class="icon-arrow-right icon-white"></i>
				</div>
			</div>
		</div>
	</div>
	<div id="nights"><p>1 night</p></div>
	<div id="slider"></div>
	
	<br/>
	<button id="validateButton" type="submit" class="primary rounded">Add</button>
	<button id="cancelButton" type="submit" class="primary rounded">Back to trip</button>
</body>


<!-- Libs -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/libs/jquery.ui.touch-punch.min.js")"></script>

<!-- Google api for geoloc -->
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqCm7-bMqqXVwTnAtbmNRk2c3rmwCIAzc&sensor=false&libraries=places,panoramio"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/libs/geoloc.js")"></script>

<script type="text/javascript">
   $(function() {
      window.destination = {}
      window.destination.location = {}
      window.destination.nbNights = 1

      window.geoloc = new GeoLoc("GeoLoc");

      $( "#slider" ).slider({
         range: "min",
         min: 0,
         max: 10,
         step: 1,
         value: 1,
         slide: function(){
            return function( event, ui ) {
               window.destination.nbNights  = ui.value;
               $("#nights").empty()
               $("#nights").append("<p>"+window.destination.nbNights+" night"+(window.destination.nbNights > 1 ? "s" : "")+"</p>")
            }
         }()
      });

   });

   $(function() {
      $("#GeoLoc").click(function() {
         $(this).removeClass("error rounded")
      });

      window.removeAllErrors = function() {
         $("#GeoLoc").removeClass("error rounded")
      }
   });

   $(function() {

      $("#GeoLoc").click(function() {
         $("#GeoLoc").removeClass("error")
         $("#GeoLoc").removeClass("rounded")
      });

      $("#GeoLoc").keypress(function() {
         window.geoloc.location = {}
      });
   });

   $(function() {
      $("#validateButton").click(
            function() {
               var destinationReady = true

               window.destination.location = window.geoloc.location
               
               if (!window.destination.location.name) {
                  $("#GeoLoc").addClass("error rounded")
                  destinationReady = false
               }

               if (destinationReady) {
                  
                  var startTime = @startTime
                  var endTime = startTime + window.destination.nbNights * 24*60*60*1000
                  endTime = endTime + (new Date().getTimezoneOffset()*60*1000) - endTime % (24*60*60*1000)
                  
                  var url = "/addDestination"
				  url += "?locationName=" 	+ window.destination.location.name 
				  url += "&locationLat=" 	+ window.destination.location.lat
				  url += "&locationLon=" 	+ window.destination.location.lon
				  url += "&startTime=" 		+ startTime
				  url += "&endTime=" 		+ endTime
                  
				  window.location.href = url
               }
            });

   });

   $(function() {
      $("#cancelButton").click(function() {
         var url = "/addDestination"
         url += "?cancel=1"
         window.location.href = url
      });
   });
</script>

</html>
